<section class="py-10 md:py-20">
    <div class="max-w-8xl mx-auto px-5 relative z-20 flex flex-wrap justify-center gap-20 md:gap-5 pt-10 md:pt-0">
      {{ servicios }}
        {{ servicio }}
          <figure class="border border-pgc/30 bg-white/50 dark:bg-white/5 backdrop-blur-md shadow-sm basis-full md:basis-1/5 flex-shrink-0 p-5 rounded-2xl space-y-3 relative group hover:bg-pgc dark:hover:bg-pgc hover:border-pgc hover:shadow-lg hover:shadow-pgc/20 transition duration-300 ease-in-out">
            {{ icono }}
            <div class="bg-pgc w-24 h-24 flex items-center justify-center rounded-full absolute -top-12 left-5 ring-4 ring-white/40 dark:ring-slate-950/40">
                <img class="w-14 h-14" src="{{ url }}" alt="{{ titulo_de_servicio }}"> 
            </div>
            {{ /icono}}
            <div class="text-slate-950 dark:text-white special-gothic-expanded-one-regular font-bold pt-12 text-lg group-hover:text-slate-950">{{ titulo_de_servicio }}</div>
            <div class="text-slate-950 dark:text-white dark:group-hover:text-slate-950 group-hover:text-slate-950">{{ texto_de_servicio }}</div>
          </figure>
        {{ /servicio }}
      {{ /servicios }}
    </div>
</section>