<section class="py-10 md:py-20 px-5">
    {{ imagen_de_fondo_de_contacto }}
        <div class="bg-cover bg-center bg-slate-950 max-w-6xl mx-auto px-5 text-left rounded-xl py-10 md:py-20 relative overflow-hidden" style="background-image: url('{{ url }}');">
    {{ /imagen_de_fondo_de_contacto }}
            <div class="space-y-7 mx-auto relative z-20 md:p-10">
                <div class="flex items-center space-x-3">
                    {{ imagen_de_agente }}
                        <img class="w-14 h-14 rounded-full bg-white" src="{{ url }}" alt="Agente de contacto">
                    {{ /imagen_de_agente }}
                    <div class="text-xl text-white">¡Hola! soy <strong>{{ agente }}</strong></div>
                </div>
                {{ partial:partials/cover_headline }}{{ encabezado_de_contacto }}{{ /partial:partials/cover_headline }}
                <div class="text-xl text-white">{{ texto_de_contacto }}</div>
                {{ boton_de_contacto }}
                    {{ partial:partials/button_principal }}
                    {{ slot:link }}{{ enlace_de_boton }}{{ /slot:link }}
                    {{ texto_de_boton }} {{ agente }}
                    {{ /partial:partials/button_principal }}
                    {{ /boton_de_contacto}}
            </div>
            <div>
                <div class="absolute bottom-0 right-0 w-full h-full z-10 bg-slate-950/30"></div>
            </div>
        </div>
</section>