<footer class="py-10 md:py-20 space-y-10">
    {{ footer:logotipo }}
        <img class="h-8 mx-auto" src="{{ url }}" alt="PGC Logotipo" width="112" height="40">
    {{ /footer:logotipo }}
    <div class="max-w-6xl mx-auto px-5 text-center border-b border-slate-500 pb-10">
        <ul class="block md:flex gap-5 justify-center">
            {{ nav:pie }}
                <li><a href="{{ url }}" class="font-medium underline-offset-2 focus:outline-hidden focus:underline text-slate-300 hover:text-white special-gothic-expanded-one-regular">{{ title }}</a></li>
            {{ /nav:pie }}
        </ul>
    </div>
    <div class="max-w-6xl mx-auto px-5 text-center">
        {{ footer:pie_de_pagina }}
    </div>
    <div>
    <div class="max-w-6xl mx-auto px-5 text-center flex justify-center items-center gap-5">
        {{ if footer:facebook }}
        <a class="text-slate-300 hover:text-pgc" href="{{ footer:facebook }}" target="_blank" aria-label="Facebook">
            <div class="hidden">Facebook</div>
            <svg class="w-9 h-9 mx-auto" fill="currentColor" viewBox="-5.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>facebook</title> <path d="M1.188 5.594h18.438c0.625 0 1.188 0.563 1.188 1.188v18.438c0 0.625-0.563 1.188-1.188 1.188h-18.438c-0.625 0-1.188-0.563-1.188-1.188v-18.438c0-0.625 0.563-1.188 1.188-1.188zM14.781 17.281h2.875l0.125-2.75h-3v-2.031c0-0.781 0.156-1.219 1.156-1.219h1.75l0.063-2.563s-0.781-0.125-1.906-0.125c-2.75 0-3.969 1.719-3.969 3.563v2.375h-2.031v2.75h2.031v7.625h2.906v-7.625z"></path> </g></svg>
        </a>
        {{ /if }}
        {{ if footer:instagram }}
        <a class="text-slate-300 hover:text-pgc" href="{{ footer:instagram }}" target="_blank" aria-label="Instagram">
            <div class="hidden">Instagram</div>
            <svg class="w-6 h-6 mx-auto" fill="currentColor" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M23,0H9C4,0,0,4,0,9v6v8c0,5,4,9,9,9h14c5,0,9-4,9-9v-8V9C32,4,28,0,23,0z M16,10c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6 S12.7,10,16,10z M22,7c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S22,8.1,22,7z"></path> </g></svg>
        </a>
        {{ /if }}
        {{ if footer:tiktok }}
        <a class="text-slate-300 hover:text-pgc" href="{{ footer:tiktok }}" target="_blank" aria-label="Tiktok">
            <div class="hidden">Tiktok</div>
            <svg class="w-7 h-7 mx-auto" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21,2H3A1,1,0,0,0,2,3V21a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2Zm-3.281,8.725h0c-.109.011-.219.016-.328.017A3.571,3.571,0,0,1,14.4,9.129v5.493a4.061,4.061,0,1,1-4.06-4.06c.085,0,.167.008.251.013v2a2.067,2.067,0,1,0-.251,4.119A2.123,2.123,0,0,0,12.5,14.649l.02-9.331h1.914A3.564,3.564,0,0,0,17.719,8.5Z"></path></g></svg>
        </a>
        {{ /if }}
        {{ if footer:linkedin }}
        <a class="text-slate-300 hover:text-pgc" href="{{ footer:linkedin }}" target="_blank" aria-label="Linkedin">
            <div class="hidden">Linkedin</div>
            <svg class="w-6 h-6 mx-auto" fill="currentColor" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M41.4,508.1H-8.5V348.4h49.9V508.1z M15.1,328.4h-0.4c-18.1,0-29.8-12.2-29.8-27.7c0-15.8,12.1-27.7,30.5-27.7 c18.4,0,29.7,11.9,30.1,27.7C45.6,316.1,33.9,328.4,15.1,328.4z M241,508.1h-56.6v-82.6c0-21.6-8.8-36.4-28.3-36.4 c-14.9,0-23.2,10-27,19.6c-1.4,3.4-1.2,8.2-1.2,13.1v86.3H71.8c0,0,0.7-146.4,0-159.7h56.1v25.1c3.3-11,21.2-26.6,49.8-26.6 c35.5,0,63.3,23,63.3,72.4V508.1z"></path> </g></svg>
        </a>
        {{ /if }}
    </div>
    </div>
</footer>